* {
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  font: {
    family: $font-family;
    size: $font-size;
    weight: 300;
  }
  color: $text-color;
}

html {
  margin-top: 0 !important;
  height: 100%;
  min-height: 600px;
}

body {
  min-width: 320px;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.main-content{
  flex: 1 1 auto;
}

header, footer, nav {
  display: block;
}

h1, h2, h3, li, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #fff;
  @include transition(all .4s ease);
  &, &:hover, &:focus {
    outline: 0;
    text-decoration: none;
  }
}

p:last-of-type {
  margin-bottom: 0;
}

.abs {
  position: absolute !important;
}

.fix {
  position: fixed !important;
}

.pull-left {
  float: left !important
}

.pull-right {
  float: right !important
}

.clearfix {
  &, &:before, &:after {
    clear: both;
  }
  &:before, &:after {
    content: '';
    display: block;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hide {
  display: none;
}
