@mixin box-shadow($top, $left, $blur, $color, $inset) {
  -webkit-box-shadow: $top $left $blur $color $inset;
  -moz-box-shadow: $top $left $blur $color $inset;
  box-shadow: $top $left $blur $color $inset;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($value...) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin animation($value...) {
  -webkit-animation: $value;
  -o-animation: $value;
  animation: $value;
}

@mixin max-screen($max-width) {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

@mixin min-screen($min-width) {
  @media only screen and (max-width: $min-width) {
    @content;
  }
}

@mixin screen($min-width, $max-width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}
