/*
@font-face {
  font-family: <FONT-FAMILY>;
  src: url('<FONT>');
  src: url('<FONT>') format('embedded-opentype'),
  url('<FONT>') format('woff2'),
  url('<FONT>') format('woff'),
  url('<FONT>') format('truetype'),
  url('<FONT>#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
