$main-color: #000;
$text-color: #858585;
$bg-color: #fff;
$font-family: 'Roboto', sans-serif;
$font-size: 14px;

/*MEDIA*/
$wide-screen: 1200px;
$screen-desktop: 992px;
$screen-tablet: 768px;
$screen-phones: 480px;